/*-------------------------------CABEÇALHO----------------------------------------------*/
.cabecalho{ 
/* background-color:brown ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

/* 
 .form{
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: hidden;
    color: #ffffff;
    opacity:60%;

} */

.col-1-cab{
/*     background-color: chocolate; */
    width: 25%;
    height: 100%;
}
.col-1-cab svg{
    height: 100%;
}

.col-2-cab{

    width: 50%;
    height: 100%;
    align-items: center;
}
.col-3-cab{
/*     background-color: rgb(30, 210, 30); */
    width: 25%;
    text-align: right;

}

.caixa-pesquisa{
    align-items: center;
    height: 100%;
}

.barra-pesquisa{
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: hidden;
    color: #ffffff; 
    height: 100%; 
    width: 100%;  
    transition: 0.4s;
}


.barra-pesquisa::placeholder {
    color: #ffffff;
}

.barra-pesquisa:hover{
    opacity:76%;
}

.barra-pesquisa:focus{
    opacity:84%;  
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

#check, #lupa{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;

}

.barra {
height: 100%;
width: 300px;
position: absolute;
transition: all .2s linear;
right: -1000px;

}

/* .caixa-hamburger nav{
 width:100%;
 position: absolute;
top : 60px;
}

.caixa-hamburger nav a{
 text-decoration: none;
 
}

.link {
    background-color: #494950;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
}

.link:hover {
background-color: #050542;
}

#check:checked ~ .barra{
transform : translateX(-1000px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
} */